<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Points display|| GUDLFT</title>
</head>
<body>
    {% if clubs %}
        <table>
            <caption>
                Points per club
            </caption>
            <thead>
                <tr>
                    <th>Club name</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for club in clubs %}
                <tr>
                    <td>{{ club.name }}</td>
                    <td class="points">{{ club.points }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="no-clubs">No club found.</p>
    {% endif %}

    <p><a href="{{ url_for('index') }}" class="margins">Return</a></p>
</body>
</html>